* {
    margin: 0px
}

#header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    color: white;
}

#locationSearch {
    grid-column: 4/6;
    width: 75%;
    justify-self: end;
}

#locationBtn {
    grid-column: 6/7;
}

#modalHolder {
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

#parent {
    display: grid;
    grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
}

#main {
    grid-column: 2/6;
    grid-row: 2/4; 
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    height: 550px;
}

#locationHolder {
    grid-row: 1/2;
    grid-column: 3/5;
    border: 1px solid black;
}

#locationName {
    text-align: center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#iconHolder {
    display: block;
    margin: auto;
    width: 35%;
    height: 35%;
}

#graphHolder {
    grid-row: 3/5;
    grid-column: 2/6;
    display: none;
    margin: auto;
    width: 50%;
    height: 95%;
}

#weatherData {
    grid-row: 2/3;
    grid-column: 3/5;
    border: 1px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#weatherData, div {
    padding-bottom: 5px;
}

#scrollBar {
    grid-row: 1/7;
    grid-column: 5/7;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

#day1 {
    grid-column: 1/1;
    border-bottom: 1px solid black;
}

#day2 {
    grid-column: 2/2;
}

#day3 {
    grid-column: 3/3;
}

#day4 { 
    grid-column: 4/4;
}

#day5 {
    grid-column: 5/5;
}

#day6 {
    grid-column: 6/6;
}

#day7 {
    grid-column: 7/7;
}

#modalParent {
    text-align: center;
    height: 200px;
    margin-top: 50px;
    border: 1px solid black;
}

#modalPTag {
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#forecastInput {
    height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#forecastBtn {
    height: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}